button {
  width: 90%;
  height: 50px;
  /* Убираем все дефолтные стили кнопки */
  background: none;
  border: none;
  padding: 0;
  margin: 0 auto;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.button {
  width: 90%;
  height: 50px;
  background-color: #7fe175;
  cursor: pointer;
  border-radius: 5px;
}

.buttonClick {
  display: flex; /* Устанавливаем flex-контейнер */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
}

.button h3 {
  color: #333;
  text-align: center;

  font-size: 1rem;
}

@media (max-width: 1200px) {
  .button {
    width: 95%;
  }
}
@media (max-width: 1000px) {
}
@media (max-width: 768px) {
}
@media (max-width: 480px) {
}
