.modal {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modalContent {
  background-color: #ffffff;
  margin: auto;
  top: 20%;
  padding: 40px;
  border: 1px solid #888;
  min-height: 400px;
  max-width: 600px;
  position: relative;
}

.description {
  display: flex;
  justify-content: space-between;
}

.descriptionBlock {
  width: 80%;
}

.descriptionBlock h3 {
  font-size: 13px;
}

.modalImgCard {
  margin-left: 20px;
  width: 50%;
}

.modalImgCard img {
  margin-bottom: 130px;
}

/* .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
} */
