button {
  width: 100%;
  height: 50px;
  /* Убираем все дефолтные стили кнопки */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.button {
  width: 100%;
  height: 50px;
  background-color: rgb(10, 56, 1);
  cursor: pointer;
  border-radius: 5px;
}

.buttonClick {
  display: flex; /* Устанавливаем flex-контейнер */
  justify-content: center; /* Горизонтальное выравнивание по центру */
  align-items: center; /* Вертикальное выравнивание по центру */
}

.button h3 {
  color: #fff;
  text-align: center;
}
